* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Chamando a fonte */
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    font-weight: 500;

    /* Bordas View */
    border: 1px solid black;
}



.container-pai {
    width: 200px;
    height: 200px;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-pai input {
    padding: 8px;
    border-radius: 8px;
}

.container-button {
    width: 160px;
    padding: 5px;
    /* gap: 10px; */

    /* FlexBox */
    display: flex;
    justify-content: space-evenly;
    
}

.btn {
    cursor: pointer;
    padding: 3px;
    /* width: 77px; */
    border-radius: 5px;

    color: white;
    background-color: rgb(165, 30, 30);

}

.btn:hover{
    background-color: rgb(125, 30, 30);
}

/* Cabeçalho */

/* Resultado */

/* Rodapé */